@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* color: var(--white); */
}

:root {
  --white: #fff;
  --black: #000;
  --bodyBlack: #00000091;
  --primaryBlack: #0c0a17;
  --grey: #bdbdbd;
  --darkBlue: #1845ad;
  --extremeBlue: #1845ad52;
  --lightBlue: #23a2f6;
  --darkOrange: #ff512f;
  --lightOrange: #f09819;
}

::selection {
  background-color: var(--white);
  color: var(--black);  
}

body{
  background-color: var(--primaryBlack) !important;
}

.bg-gradientBlue {
  background: linear-gradient(to right, var(--darkBlue), var(--lightBlue)) !important;
}

.bg-gradientOrange {
  background: linear-gradient(to right, var(--darkOrange), var(--lightOrange)) !important;
}

.bg-grey {
  background-color: var(--grey) !important;
}

.bg-darkBlue {
  background-color: var(--primaryBlack) !important;
}

.bg-darkBluee {
  background-color: #143c99 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.modal-content  {
  background-color: var(--black) !important;
  border: 1px solid var(--grey);
}

.fade.modal.show {
  z-index: 9999 !important;
}

.btn-close {
  background-color: var(--white);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.MuiButtonBase-root.MuiIconButton-root {
  color: var(--white) !important;
} 

.MuiCollapse-root.MuiCollapse-vertical {
  padding-left: 0px !important;
}

.MuiTreeItem-label {
  padding: 3px 0 !important;
}

.custom-black {
  background-color: var(--bodyBlack);
  color: var(--white);
  padding: 20px;
  border-radius: 6px;
  backdrop-filter: blur(10px);
  min-height: 70vh;
}

.fs-heading {
  font-size: 22px;
  margin: 0;
  color: var(--white) !important;
}

.swal-footer {
  display: flex;
  justify-content: center;
}

.btn-custom-success:hover {
  background-color: #157347 !important;
}

.btn-custom-danger:hover {
background-color: #bb2d3b !important;
}